{# src\FB\PlayerManagerBundle\Resources\views\PlayerManager\detail.html.twig#}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Player detail - {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
{% endblock %}

{% block headerWelcome %}
    Player detail
{% endblock %}
{% block headerMessage %}
    <p> Détail du joueur</p>
{% endblock %}
{% block breacrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path ('fb_clubmanager_home') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path ('fb_playermanager_home') }}">Joueurs</a></li>
        <li class="active">Détail</li>
    </ol>
{% endblock %}
{% block fbclubmanager_body %}
    <h2> {{ player.displayName }}</h2>
    {% if is_granted('ROLE_MEMBER') %}
            <a class="btn btn-sm btn-default" type="button" href="{{ path('fb_playermanager_update', {'id': player.id}) }}" title="Modifier l'élément" data-toggle="tooltip">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-sm btn-danger" type="button" href="{{ path('fb_playermanager_delete', {'id': player.id}) }}" title="Supprimer l'élément" data-toggle="tooltip" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?')">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
    {% endif %}

    <div>
        <label>Nom : {{ player.lastname }}</label>
    </div>
    <div>
        <label>Prénom : {{ player.firstname }}</label>
    </div>
    <div>
        <h5>Adresse  : </h5>
        <div class="container">
            <div>
                <label> {{ player.streetnumber }}, {{ player.street }} </label>
            </div>
            <div>
                <label> {{ player.cP }} {{  player.city }}</label>
            </div>
        </div>
    </div>

    <div>
        <label>Email : {{ player.email }}</label>
    </div>
    <div>
        <h5>Tournois joués: </h5>
        {% for team in player.teams %}
            <label>{{ team.tournament.name }} {% if not loop.last %}, {% endif %} </label>
        {% endfor %}
    </div>
    <div>
        <h5>Distance de lancé : </h5>
        <div class="container">
            {% for throwDistance in throwDistances %}
                <div>
                    <label> au {{ throwDistance.testDate|localizeddate('medium','none', 'fr') }}</label>
                    </br>
                    <label>Revers : {{ throwDistance.backDistance }}m</label>
                    </br>
                    <label>Coup droit : {{ throwDistance.sideDistance }}m </label>
                </div>
            {% endfor %}
            <div class="ct-chart ct-golden-section" id="chart1"></div>
            {#
                        {% if player.throwDistance is not null %}
                            <div>
                                <label>Revers : {{ player.throwDistance.backDistance }}m</label>
                                </br>
                                <label>Coup droit : {{ player.throwDistance.sideDistance }}m </label>
                                <label> au {{ player.throwDistance.testDate|localizeddate('medium','none', 'fr') }}</label>
                            </div>
                        {% endif %}
            #}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <script>
        var label = {{ label|json_encode|raw }};
        var back = {{ back|json_encode }};
        var side = {{ side|json_encode }};
        // Initialize a bar chart in the container with the ID chart1
        new Chartist.Bar('#chart1', {
            labels: label,
            series: [
                back,
                side]
        });

    </script>
{% endblock %}
