{# src\FB\PlayerManagerBundle\Resources\views\PlayerManager\form.html.twig#}
<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.firstname) }}

        <div class="col-sm-3">
            {# Génération de l'input. #}
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_label(form.lastname, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.lastname) }}
        <div class="col-sm-3">
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.phonenumber, "Téléphone", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.phonenumber) }}
        <div class="col-sm-3">
            {{ form_widget(form.phonenumber, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_label(form.street, "Rue", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.street) }}
        <div class="col-sm-3">
            {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.streetnumber, "Numéro de rue", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.streetnumber) }}
        <div class="col-sm-3">
            {{ form_widget(form.streetnumber, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_label(form.cp, "Code postal", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.cp) }}
        <div class="col-sm-3">
            {{ form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.city, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.city) }}
        <div class="col-sm-3">
            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_label(form.email, "email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.email) }}
        <div class="col-sm-5">
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group has-feedback has-feedback-left">
        <h4> Distance de lancée : </h4>
        <div class="form-group">
            {{ form_label(form.throwDistance.backDistance, "Distance revers (en métre)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.throwDistance.backDistance) }}
            <div class="col-sm-2">
                {{ form_widget(form.throwDistance.backDistance, {'attr': {'class': 'form-control'}}) }}
            </div>

            {{ form_label(form.throwDistance.sideDistance, "Distance coup droit (en mètre)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.throwDistance.sideDistance) }}
            <div class="col-sm-2">
                {{ form_widget(form.throwDistance.sideDistance, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {{ form_label(form.throwDistance.testDate, "Date de mesure", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.throwDistance.testDate) }}
        <div class="col-sm-3">
            {{ form_widget(form.throwDistance.testDate, {'attr': {'class': 'form-control datepicker'}}) }}
            <i class="form-control-feedback glyphicon glyphicon-calendar"></i>
        </div>
    </div>

    <div class="span7 text-center">
        {{ form_widget(form.save, {'label': 'Sauvegarder', 'attr': { 'class': 'btn btn-primary' } }) }}

        {{ form_widget(form.saveexit, {'label': 'Sauvegarder et quitter', 'attr': {'class': 'btn btn-primary' } }) }}
        <a class="btn btn-primary" type="button" href="{{ path('fb_playermanager_home') }}">Annuler</a>
    </div>
    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »).
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>