{# \src\FB\PlayerManagerBundle\Resources\views\PlayerManager\index.html.twig #}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Accueil Player Manager- {{ parent() }}
{% endblock %}

{% block headerWelcome %}
    Gestion des joueurs
{% endblock %}
{% block headerMessage %}
    <p> Ce module permet de gérer les joueurs du club</p>
{% endblock %}
{% block breacrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path ('fb_clubmanager_home') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Joueurs</li>
    </ol>
{% endblock %}
{% block fbclubmanager_body %}

    <h2>Liste des joueurs</h2>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th data-field="id">Id</th>
            <th data-field="firstname">Prénom</th>
            <th data-field="lastname">Nom</th>
            <th data-field="phone">Téléphone</th>
            <th data-field="adress">Adresse</th>
            <th data-field="email">email</th>
            <th data-field="gamessets">Numéro de maillot</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for player in listPlayers %}
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.firstname }}</td>
                <td>{{ player.lastname }}</td>
                <td>{{ player.phonenumber }}</td>
                <td>{{ player.streetnumber }} {{ player.street }} {{ player.cP }} {{ player.city }}</td>
                <td>{{ player.email }}</td>
                <td>{% for gameset in player.gameSets %}
                        {{ gameset.number }}
                    {% endfor %}</td>
                <td>
                    {% if is_granted('ROLE_MEMBER') %}
                        <a class="btn btn-default" type="button" href="{{ path('fb_playermanager_update', {'id': player.id}) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-danger" type="button" href="{{ path('fb_playermanager_delete', {'id': player.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}