{% trans_default_domain 'FOSUserBundle' %}

<div class="well">

    <div class="container">
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">S'enregister</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="{{ path('fos_user_security_login') }}">Déja membre</a></div>
                </div>
                <div class="panel-body" >
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                        {# Les erreurs générales du formulaire. #}
                        {{ form_errors(form) }}

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.username, "Nom d'utilisateur", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                            {{ form_errors(form.username) }}
                            <div class="col-md-8">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur'}}) }}
                            </div>
                        </div>

                    <div class="form-group">
                        {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        {{ form_errors(form.email) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        {{ form_errors(form.plainPassword.first) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, "Confirmation du mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        {{ form_errors(form.plainPassword.second) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmation du mot de passe'}}) }}
                        </div>
                    </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Inscription</button>
                                <span style="margin-left:8px;">ou</span>
                            </div>
                        </div>

                        <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Connexion avec Facebook</button>
                            </div>

                        </div>
                    {{ form_rest(form) }}

                    {# Fermeture de la balise <form> du formulaire HTML #}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
