{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}FB Club Manager{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<div class="container">
    <div id="header" class="jumbotron">
        <h1> {% block headerWelcome%} Welcome in Club Manager {% endblock %}</h1>
        <p> {% block headerMessage %}
            Ce projet est propulsé par Symfony2,
            et construit grâce au MOOC OpenClassrooms et SensioLabs.
            {% endblock %}
        </p>
    </div>
    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" rel="home" href="{{ path ('fb_clubmanager_home') }}">ClubManager</a>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Joueurs <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path ('fb_playermanager_home') }}">Gérer les joueurs</a></li>
                        {% if is_granted('ROLE_MEMBER') %}
                        <li><a href="{{ path('fb_playermanager_add') }}">Ajouter un joueur</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maillots <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path ('fb_setmanager_home') }}">Gérer les maillots</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tournois <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path ('fb_tournament_home') }}">Gérer les tournois</a></li>
                        {% if is_granted('ROLE_MEMBER') %}
                            <li><a href="{{ path('fb_tournament_add') }}">Ajouter un tournoi</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="{{ path('fb_season_home') }}">Gérer les saisons</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path ('fb_clubmanager_forum') }}">Accéder au forum</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">S'enregister</a></li>
                    {% endif %}
            </ul>
        </div>
    </nav>
{#    <div class="row">
        <div id="menu" class="col-md-3">
            <a href="{{ path ('fb_clubmanager_home') }}">Retour Club Manager</a>
            <h3>Les joueurs</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path ('fb_playermanager_home') }}">Gérer les joueurs</a></li>
                <li><a href="{{ path('fb_playermanager_add') }}">Ajouter un joueur</a></li>
            </ul>
            <h3>Les maillots</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path ('fb_setmanager_home') }}">Gérer les maillots</a></li>
            </ul>
            <h3>Les tournois & saisons</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path ('fb_tournament_home') }}">Gérer les tournois</a></li>
                <li><a href="{{ path('fb_tournament_add') }}">Ajouter un tournoi</a></li>
                <li><a href="{{ path('fb_season_home') }}">Gérer les saisons</a></li>
            </ul>
            <h3>Forum</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path ('fb_clubmanager_forum') }}"> Accueil</a></li>
            </ul>
        </div>
#}
    <div id="content">
            {{ include ('FBClubManagerBundle::flashbag.html.twig') }}
            {% block fbclubmanager_body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>