{% trans_default_domain 'FOSUserBundle' %}

<div class="well">
    {# <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    </form>
    <h1> test override </h1>
    {{ form_widget(form) }} #}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}



    <div class="form-group">
        {{ form_label(form.username, "Nom d'utilisateur", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.username) }}
        <div class="col-sm-3">
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.email) }}
        <div class="col-sm-3">
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.current_password, "Mot de passe actuel", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.current_password) }}
        <div class="col-sm-3">
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-default" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
        <a class="btn btn-default" type="button" href="{{ path('fos_user_profile_show') }}">Annuler</a>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

</div>