<div class="fos_user_user_show">

    <div class="well">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }} :</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" value="{{ user.username }}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" >{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }} :</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" value="{{ user.email }}" disabled>
                </div>
            </div>
        </form>
    </div>
    <a class="btn btn-default" type="button" href="{{ path('fos_user_profile_edit') }}">Modifier</a>
</div>
