{# src\FB\SessionManagerBundle\Resources\views\SessionManager\add.html.html.twig#}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Add session - {{ parent() }}
{% endblock %}

{% block headerWelcome %}
    Add new Session
{% endblock %}
{% block headerMessage %}
    <p> Ajouter une nouvelle séance</p>
{% endblock %}
{% block breacrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path ('fb_clubmanager_home') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Ajouter</li>
    </ol>
{% endblock %}
{% block fbclubmanager_body %}
    {{ include ('FBSessionManagerBundle:SessionManager:form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fbclubmanager/js/displayTeamSession.js') }}"></script>
{% endblock %}
