{# src\FB\TournamentBundle\Resources\views\Season\index.html.twig #}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Accueil Season Manager - {{ parent() }}
{% endblock %}

{% block headerWelcome %}
    Welcom in Season Manager
{% endblock %}
{% block headerMessage %}
    <p> Ce module permet de gérer les saisons</p>
{% endblock %}
{% block fbclubmanager_body %}

    <h2>Ajouter une saison </h2>
    {# Adding form #}
    {{ include ('FBTournamentBundle:Season:form.html.twig') }}

    <h2>Liste des saisons</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th data-field="name">Nom</th>
                <th data-field="startDate">Date de début</th>
                <th data-field="endDate">Date de fin</th>
            </tr>
            </thead>
            <tbody>
            {% for season in listSeasons %}
                <tr>
                    <td>{{ season.name }}</td>
                    <td>{{ season.startDate|date('d-m') }}</td>
                    <td>{{ season.endDate|date('d-m') }}</td>
                    <td>
                        <a class="btn btn-default" type="button" href="{{ path('fb_season_update', {'id': season.id}) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-danger" type="button" href="{{ path('fb_tournament_delete', {'id': season.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}