{# src\FB\TournamentBundle\Resources\views\Tournament\add.html.twig#}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Add Tournament - {{ parent() }}
{% endblock %}

{% block headerWelcome %}
    Add new Tournament
{% endblock %}
{% block headerMessage %}
    <p> Ajouter un nouveau tournoi</p>
{% endblock %}
{% block breacrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path ('fb_clubmanager_home') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path ('fb_tournament_home') }}">Tournois</a></li>
        <li class="active">Ajouter</li>
    </ol>
{% endblock %}
{% block fbclubmanager_body %}
    {{ include ('FBTournamentBundle:Tournament:form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fbclubmanager/js/dislayPlayerList.js') }}"></script>
{% endblock %}
