{# src\FB\TournamentBundle\Resources\views\Tournament\calendar.html.twig#}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
   Tournament calendar - {{ parent() }}
{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        {# Calendar style sheet#}
        <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.print.css') }}" />

    {% endblock %}

{% block headerWelcome %}
    Tournaments
{% endblock %}
{% block headerMessage %}
    <p> Calendrier des tournois</p>
{% endblock %}
{% block breacrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path ('fb_clubmanager_home') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{{ path ('fb_tournament_home') }}">Tournois</a></li>
        <li class="active">Calendrier</li>
    </ol>
{% endblock %}
{% block fbclubmanager_body %}
    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/moment/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/fullcalendar-lang-all.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>

{% endblock %}