{# src\FB\TournamentBundle\Resources\views\Tournament\index.html.twig #}

{% extends "FBClubManagerBundle::layout.html.twig" %}
{% block title %}
    Accueil Tournament Manager - {{ parent() }}
{% endblock %}

{% block headerWelcome %}
    Welcom in Tournament Manager
{% endblock %}
{% block headerMessage %}
    <p> Ce module permet de gérer les tournois jouer par le club</p>
{% endblock %}
{% block fbclubmanager_body %}

    <h2>Liste des tournois</h2>
    <div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.name, "Saisons : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.name) }}
            <div class="col-sm-4">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
           {{ form_widget(form.filter, {'attr': {'class': 'btn btn-primary' } }) }}
        </div>

    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »).
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th data-field="name">Nom</th>
                <th data-field="place">Lieu</th>
                <th data-field="date">Date</th>
                <th data-field="category">Catégory</th>
                <th data-field="division">Division</th>
                <th data-field="surface">surface</th>
            </tr>
            </thead>
            <tbody>
            {% for tournament in listTournament %}
                <tr>
                    <td>{{ tournament.name }}</td>
                    <td>{{ tournament.address }} {{ tournament.city }} {{ tournament.country }}</td>
                    <td>Du {{ tournament.startDate|date('d-m') }} au {{ tournament.endDate|date('d-m') }}</td>
                    <td>{{ tournament.category }}</td>
                    <td>{{ tournament.division }}</td>
                    <td>{{ tournament.surface }}</td>
                    <td>
                        {% if is_granted('ROLE_MEMBER') %}
                            <a class="btn btn-default" type="button" href="{{ path('fb_tournament_update', {'id': tournament.id}) }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn btn-danger" type="button" href="{{ path('fb_tournament_delete', {'id': tournament.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}